.footer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  @include separatorOnTheTop;

  padding-bottom: 1em;

  &__copyright {
    text-align: center;
    padding: 0;
    margin: 1em 2em 0 2em;
  }

  &__link {
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
  }

  &__subscription {
    margin-top: 1rem;
    padding: 0 3rem;
  }
}

.footer__nav {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;

  &-item {
   margin: 0 0.5em 0 0.5em;
  }
}

.news-form {
  form {
    text-align:center; padding:10px 0 10px 0;
  }

  input.button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing:border-box;
    height:32px;
    line-height:32px;
    padding:0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;

    &:hover {
      background-color:#777;
      cursor:pointer;
    }

    @include phablet {
      width: 100%;
      margin:0;
    }
  }

  input.email {
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing:border-box;
    height:32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width:300px;
    vertical-align:top;

    @include phablet {
      width:100%;
      margin-bottom:0.5rem;
    }
  }
}
