.news__section {
  max-width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid $baseColor;
  font-size: 0.85rem;
  ul {
    list-style: none;
    li {
      margin-bottom: 0.2rem;
      @include largerThanPhablet {
        display: table-row;
        span,
        a {
          display: table-cell;
        }
      }
    }
  }
}

.newsDate {
  min-width: 9rem;
  display: inline-block;

  @include phablet {
    min-width: initial;
  }
}
