{{define "head"}}
<!-- To render a map in Contact page -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
{{end}}
{{define "main"}}
<h1>
  {{T "ourContacts"}}
</h1>
<div class="preface preface--contacts">
  {{.Content}}
</div>
<div class="contacts">
  <section class="">{{ partial "contact-form" . }}</section>
  <section class="contacts__offices">
    <div class="contacts__office">
      <h2 class="contacts__h2">{{T "developmentOffice"}}</h2>
      <address class="contacts__address">
        {{T "developmentOfficeContacts" | safeHTML}}
      </address>
    </div>
    <div class="contacts__office">
      <h3 class="contacts__h3">{{T "legalAddress"}}</h3>
      <address class="contacts__address">
        {{T "legalAddressContacts" | safeHTML}}
      </address>
    </div>
    <div class="contacts__social">
      <h2 class="contacts__h2">
        {{T "contactsSocialNetworks"}}
      </h2>
      <ul class="contacts__social-networks">
        <li>
          <a class="contacts__icon contacts__icon--f" href="{{.Site.Params.facebook}}" target="_blank"></a>
        </li>
        <li>
          <a class="contacts__icon contacts__icon--t" href="{{.Site.Params.twitter}}" target="_blank"></a>
        </li>
        <li>
          <a class="contacts__icon contacts__icon--l" href="{{.Site.Params.linkedin}}" target="_blank"></a>
        </li>
      </ul>
    </div>
  </section>
  <!-- Map is rendered here by leaflet and our js code below. -->
</div>
<section id="leaflet-map" class="leaflet-map"></section>
{{end}}
{{define "scripts"}}
<!-- Code which renders leaflet map with #leaflet-map id above. It's here for localization. -->
<script type="text/javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script type="text/javascript">
  var map = L.map('leaflet-map', { scrollWheelZoom: false, zoomControl: false, dragging: false, touchZoom: false, doubleClickZoom: false, tap: false, boxZoom: false, keyboard: false, zoomSnap: 0.1 });
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: '{{T "mapCopyright"}}',
    tileSize: 512,
    maxZoom: 6,
    zoomOffset: -1,
    id: 'mapbox/light-v10',
    accessToken: 'pk.eyJ1Ijoidmlicm9ib3giLCJhIjoiY2l3Njhib2tqMDAwbzJ5czAxYTN4ZWt6dyJ9.1CqJcnto4oJNbHLvwzxc5A',
    detectRetina: true
  }).addTo(map);
  var strTitle = '{{T "developmentOffice"}}';
  var minsk = L.marker([53.94678, 27.61623], { title: strTitle, alt: strTitle }).addTo(map);
  minsk.bindPopup('<p>' + strTitle + '</p>');
  var allMarkers = new L.featureGroup([minsk]);
  map.fitBounds(allMarkers.getBounds().pad(0.5));
</script>
{{end}}
