# Our "build" script also automatically deploys static html sites.
# - Build & deploy do not work for forked pull requests (can't deploy without secure $GITHUB_TOKEN).
# - Build results from pull requests are deployed to dev Github pages.
# - Build results from the master branch are deployed directly into production Github pages.
dist: xenial
os: linux
if: fork = false
language: node_js # npm is needed to install postcss-cli
node_js: "lts/*"
env:
  global:
    - HUGO_RELEASE=0.103.0
# Full git depth is slower but it's required for correct .Lastmod dates in published content pages.
#git:
#  depth: 1
install:
  - npm install postcss-cli autoprefixer # Required for hugo's built-in postcss/autoprefixer
  - wget -q -O hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_RELEASE}/hugo_extended_${HUGO_RELEASE}_linux-amd64.deb
  - sudo dpkg -i hugo.deb
script:
  - hugo --environment development
  - hugo --environment production
deploy:
  - provider: pages
    repo: VibroBox/www.vibrobox.com
    fqdn: www.vibrobox.com
    target_branch: master
    local_dir: public/en
    skip_cleanup: true
    token: $GITHUB_TOKEN # Personal access token is set in travis-ci.org dashboard, marked secure, see https://help.github.com/en/articles/creating-a-personal-access-token-for-the-command-line
    keep_history: true
    on:
      repo: biodranik/landing-hugo
      branch: master
  - provider: pages
    repo: VibroBox/www.vibrobox.ru
    fqdn: www.vibrobox.ru
    target_branch: master
    local_dir: public/ru
    skip_cleanup: true
    token: $GITHUB_TOKEN
    keep_history: true
    on:
      repo: biodranik/landing-hugo
      branch: master
  - provider: pages
    repo: VibroBox/preview.com
    target_branch: master
    local_dir: public-dev/en
    skip_cleanup: true
    token: $GITHUB_TOKEN
    keep_history: true
    on:
      repo: biodranik/landing-hugo
      all_branches: true
      condition: $TRAVIS_BRANCH != master
  - provider: pages
    repo: VibroBox/preview.ru
    target_branch: master
    local_dir: public-dev/ru
    skip_cleanup: true
    token: $GITHUB_TOKEN
    keep_history: true
    on:
      repo: biodranik/landing-hugo
      all_branches: true
      condition: $TRAVIS_BRANCH != master
after_deploy:
  - |
    if [[ $TRAVIS_BRANCH == "master" ]]; then
      # Russian version is not automatically rebuilt/updated by Github by some reason.
      curl -u $GITHUB_USER:$GITHUB_TOKEN -X POST https://api.github.com/repos/vibrobox/www.vibrobox.ru/pages/builds -H "Accept: application/vnd.github.mister-fantastic-preview+json"
    fi
