{{define "main"}}
<section class="section team-preface">
  <!-- Renders content/team/_index.md -->
  {{.Content}}
</section>
<section class="section team">
  <!-- Ranges through content/team/*.md -->
  {{range .Data.Pages.ByWeight -}}
  {{$name := .Title | markdownify -}}
  {{$jobTitle := .Params.job_title | markdownify -}}
  {{$underscoredName := delimit (split (plainify $name) " ") "_" -}}
  {{$imageSrc := printf "/img/team/%s.jpg" .File.TranslationBaseName | relURL -}}
  <div name="#{{lower $underscoredName}}" class="teammate-sm">
      <img src="{{$imageSrc}}" alt="{{$name}}" title="{{$name}}" />
      <div class="teammate-sm__title">
        <a href="{{.RelPermalink}}"> {{$name}} </a>
      </div>
      <div class="teammate-sm__job-title">
        {{$jobTitle}}
      </div>
  </div>
  {{- end}}
</section>
{{end}}
