{{define "main" -}}
{{$name := .Title | markdownify -}}
{{$jobTitle := .Params.job_title | markdownify -}}
{{$underscoredName := delimit (split (plainify $name) " ") "_" -}}
{{$imageSrc := printf "/img/team/%s" .Params.img | relURL -}}
<section name="#{{lower $underscoredName}}" class="section">
  <h1>{{$name}}</h1>
  <div class="teammate__job-title">{{$jobTitle}}</div>
  <div class="teammate__container">
    <div class="teammate__img">
      <img src="{{$imageSrc}}" alt="{{$name}}" title="{{$name}}" />
    </div>
    <div class="teammate__description">
      {{.Content}}
    </div>
  </div>
</section>
{{end}}
