// Correct sublists numeration for numbered lists. Very useful for a numbered table of contents.
// See https://stackoverflow.com/questions/4098195/can-ordered-list-produce-result-that-looks-like-1-1-1-2-1-3-instead-of-just-1 for more details.
//**********************************************************************
.numberedSublist ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.numberedSublist ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

.numberedSublist ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

.numberedSublist li ol > li {
  margin: 0;
}

.numberedSublist li ol > li:before {
  content: counters(item, ".") " ";
}
//**********************************************************************
