// In Russian, readers are used to the "Redline" indent.
html[lang="ru"] .content p {
  @include largerThanPhablet {
    text-indent: 1.5rem;
  }
}

.content {
  margin-left: 0.3rem;
  margin-right: 0.3rem;

  @include notSmartphone {
    > p {
      @include hyphens-justify;
    }
  }

  h2 {
    margin: 2rem 0;
    text-align: center;
    @include phablet {
      text-align: left;
    }
  }

  h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    @include phablet {
      text-align: left;
    }
  }

  p {
    margin-bottom: 0.5rem;
    @include phablet {
      text-align: left;
    }
  }

  ul,
  ol {
    margin-bottom: 1rem;
    padding-left: 1.5rem;

    @include phablet {
      padding-left: 1rem;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;

    @include largerThanPhablet {
      max-width: 60%;
      max-height: 60%;
    }
  }

  figure {
    @include phablet {
      width: 100%;
      height: auto;
      margin: 1rem 0 1rem 0;
    }
    figcaption {
      text-align: center;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
  }
}

.content-news {
  img {
    @include largerThanPhablet {
      max-width: 70%;
      max-height: 70%;
    }
  }
}

.content-video-container {
  max-width: 900px;
  overflow: hidden;
  position: relative;
  height: 550px;

  @include largerThanPhablet {
    max-width: 70%;
  }

  @include phablet {
    height: 400px;
  }

  @include smartphone {
    height: 300px;
  }

  .content-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
