.teammate {
  @include smartphone {
    flex-direction: column;
  }

  &__section p {
    text-align: center;
  }

  &__job-title {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include phablet {
      flex-direction: column;
    }
  }

  &__img {
    width: 50%;
    padding: 0.8rem;
    text-align: center;

    @include phablet {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }

  &__description {
    width: 50%;
    min-height: 1px;
    padding: 0.8rem;

    @include phablet {
      width: 100%;
    }

    p {
      line-height: 1.5rem;
      @include smartphone {
        line-height: 1.2rem;
      }
      margin-bottom: 1.2rem;
      text-align: left;
    }

    ul {
      margin-bottom: 1.2rem;
    }
  }
}
