{{if .Site.IsMultiLingual}}
<link href="{{(index $.Site.Home.AllTranslations 0).Permalink}}" hreflang="x-default" rel="alternate">
{{range $.Site.Home.AllTranslations -}}
<link href="{{.Permalink}}" hreflang="{{.Lang}}" rel="alternate">
{{end -}}
{{end}}<!-- if .Site.IsMultiLingual -->
<link rel="icon" type="image/x-icon" href="{{$.Site.BaseURL}}favicon.ico">
<link rel="stylesheet" type="text/css" href="{{$.Site.BaseURL}}css/style.css">
<!-- Custom css files from pages (if any). -->
{{- range $.Params.css -}}
<link rel="stylesheet" type="text/css" href="{{$.Site.BaseURL}}{{.}}" />
{{end -}}
<!-- Favicon section. -->
<link rel="apple-touch-icon" href="{{$.Site.BaseURL}}icons/apple-touch-icon.png?v=4">
<link rel="apple-touch-icon" sizes="60x60" href="{{$.Site.BaseURL}}icons/apple-touch-icon-60x60.png?v=4">
<link rel="apple-touch-icon" sizes="76x76" href="{{$.Site.BaseURL}}icons/apple-touch-icon-76x76.png?v=4">
<link rel="apple-touch-icon" sizes="120x120" href="{{$.Site.BaseURL}}icons/apple-touch-icon-120x120.png?v=4">
<link rel="apple-touch-icon" sizes="152x152" href="{{$.Site.BaseURL}}icons/apple-touch-icon-152x152.png?v=4">
<link rel="apple-touch-icon" sizes="180x180" href="{{$.Site.BaseURL}}icons/apple-touch-icon-180x180.png?v=4">
<link rel="icon" type="image/png" sizes="16x16" href="{{$.Site.BaseURL}}icons/favicon-16x16.png?v=4">
<link rel="icon" type="image/png" sizes="32x32" href="{{$.Site.BaseURL}}icons/favicon-32x32.png?v=4">
<link rel="icon" type="image/png" sizes="192x192" href="{{$.Site.BaseURL}}icons/android-chrome-192x192.png?v=4">
<link rel="icon" type="image/png" sizes="512x512" href="{{$.Site.BaseURL}}icons/android-chrome-512x512.png?v=4">
<link rel="manifest" href="{{$.Site.BaseURL}}icons/manifest.json?v=4">
<link rel="mask-icon" href="{{$.Site.BaseURL}}icons/safari-pinned-tab.svg?v=4" color="#5bbad5">
<link rel="shortcut icon" href="{{$.Site.BaseURL}}icons/favicon.ico?v=4">
