{{ define "main" }}
  <section class="banner">
    <div class="section">
      <h1 class="title-index__main">
        {{ T "indexMainTitle" }}
      </h1>
      <div class="preface preface--home">
        {{ .Content }}
      </div>
      <a class="actionButton" href="{{ ref . "technology.md" }}">
        {{ T "moreAboutTechnology" }}
      </a>
      <a class="actionButton" href="{{ .Language.Params.demourl }}" target="_blank">
        {{ T "viewDemo" }}
      </a>
    </div>
  </section>

  <section class="section news__section">
    <ul>
      <?php foreach ($newsItems as $news) : ?>
      <li>
        <time class="newsDate" datetime="<?= $news['date'] ?>" itemprop="datePublished">
          <?= (new DateTime($news['date']))->format(T(NEWS_DATE_FORMAT)) ?>
        </time>
        <a href="<?= URL($news['link']) ?>">
          <?= $news['title'] ?>
        </a>
      </li>
      <?php endforeach; ?>

    </ul>
  </section>

  <section class="section system separator">
    <h2 class="title-index__second">
      {{ T "systemItem" }}
    </h2>
    <p class="preface">
      {{ T "systemPreface" }}
    </p>
    <div class="system-container">
      <?php foreach ($solutionSectionItems as $item) : ?>
      <div class="system-container__item  <?= $item['css'] ?> ">
        <h3 class="system-container__title system-icon <?= $item['icon'] ?>">
          <?= $item['title'] ?>
        </h3>
        <p class="system-container__text">
          <?= $item['description'] ?>
        </p>
      </div>
      <?php endforeach; ?>
    </div>
  </section>

  <section class="section plus">
    <h2 class="title-index__second">
      {{ T "plusTitle" }}
    </h2>
    <div class="plus-container">
      <?php foreach ($plusSectionItems as $item) : ?>
      <div class="plus-container__item">
        <h3 class="plus-container__title plus-icon <?= $item['icon'] ?>">
          <span>
            <?= $item['title'] ?>
          </span>
        </h3>
        <p class="plus-container__text">
          <?= $item['description'] ?>
        </p>
      </div>
      <?php endforeach; ?>
    </div>
  </section>

  <section class="preface">
    <a class="actionButton" href="<?= URL('technology.php') ?>">
      <p>
        {{ T "bottomIndexTechButton" }}
      </p>
    </a>
  </section>
{{ end }}
