.about-section {
  .section-cont {
     padding-bottom: 112px;
   }

  h2 {
    padding-bottom: 9px;
  }

  .preface {
    max-width: 580px;
  }

  .team-container {
    padding-top: 50px;

    .team-item {
      text-align: center;
      width: 25%;
      padding: 10px 20px;
      box-sizing: border-box;

      .photo {
        margin-bottom: 16px;

        img {
          margin: 0 auto;
        }
      }

      .name {
        color: #535455;
        font-size: $baseFontSize + 1;
        font-weight: 600;
        padding-bottom: 11px;
      }

      .position {
        color: #46afe1;
        font-size: $baseFontSize - 1;
        font-weight: 600;
        line-height: 15px;
        min-height: 36px;
      }

      .description {
        p {
          font-size: $baseFontSize;
          font-weight: 400;
        }
      }
    }
  }

  @media(max-width: 1199px) {
    .team-container {
      justify-content: space-around;
      -ms-flex-pack: distribute;

      .team-item {
        padding-bottom: 70px;
        width: 50%;
        box-sizing: border-box;
        text-align: left;

        .team-item-body {
          margin-left: 110px;
        }

        .photo {
          float: left;
        }

        .position {
          min-height: 0;
          padding-bottom: 11px;
        }

        .description {
          min-height: 92px;
        }
      }
    }
  }

  @media(max-width: 767px) {
    .section-cont {
      padding-bottom: 50px;
    }

    h2 {
      font-size: 30px;
      line-height: 25px;
      padding-bottom: 24px;
    }

    .preface {
      max-width: 85%;
    }

    .team-container {
      padding-top: 26px;

      .team-item {
        width: 100%;

        .description {
          min-height: auto;
        }

        &:nth-child(n+3) {
          padding-bottom: 70px;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

.about-page {
  .about-section {
    h2 {
      color: #0188c9;

      &:before {
        display: none;
      }
    }
  }
}
