.contact-us-section {
  background: url($bgDir + 'form-bg.png') no-repeat center;
  background-size: cover;
  color: $whiteColor;

  .section-cont {
    padding-bottom: 97px;
    padding-top: 63px;
  }

  h2 {
    color: #0188c9;
    font-weight: 700;
    position: relative;
    margin-bottom: 22px;

    &:before {
      background-color: #576368;
      bottom: 5px;
      height: 1px;
      top: auto;
    }
  }

  .preface {
    font-size: 18px;
    font-weight: 300;
  }

  .form {
    max-width: 980px;
    padding-top: 45px;

    .form-group {
      padding-bottom: 23px;
      width: 28.5%;

      &:last-of-type {
        width: 100%;
      }
    }

    textarea {
      min-height: 78px;
    }
  }

  @media (max-width: 767px) {
    .section-cont {
      padding-bottom: 54px;
      padding-top: 44px;
    }

    h2 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 26px;
      padding-bottom: 28px;

      &:before {
        bottom: 0;
      }
    }

    .preface {
      font-size: 14px;
    }

    .form {
      margin: 0 20px;
      padding-top: 22px;

      .form-group {
        padding-bottom: 12px;
        width: 100%;

        &.text-field {
          padding-top: 20px;
        }
        textarea {
          min-height: 78px;
        }
      }

      button.btn-custom {
        margin: 39px 0 0;
        width: 100%;
      }
    }
  }

  @media (max-width: 543px) {
    h2 {
      max-width: 170px;
    }

    .preface {
      max-width: 85%;
    }
  }
}