.form {
  margin: 0 auto;

  .form-group {
    position: relative;

    &:last-of-type {
      width: 100%;
    }

    label {
      display: block;
      font-weight: 700;
      padding-bottom: 4px;
    }

    input {
      border: none;
      border-radius: 0;
      -webkit-appearance: none;
      -webkit-border-radius:0px;
      box-sizing: border-box;
      color: $blackColor;
      padding: 8px 14px;
      font-size: $baseFontSize + 1;
      font-weight: 400;
      width: 100%;
    }

    textarea {
      border: none;
      box-sizing: border-box;
      border-radius: 0;
      -webkit-appearance: none;
      -webkit-border-radius:0px;
      color: $blackColor;
      display: block;
      padding: 8px 14px;
      resize: none;
      width: 100%;
      font-size: $baseFontSize + 1;
      font-weight: 400;

      &.error {
        box-shadow: inset 0 0 0 2px #fc5353;
      }
    }

    .error-msg {
      color: #fc5353;
      display: block;
      font-size: $baseFontSize - 1;
      font-weight: 400;
      position: absolute;
      right: 0;
      text-align: right;
    }

    &.error {
      input {
        box-shadow: inset 0 0 0 2px #fc5353;
      }

      textarea {
        box-shadow: inset 0 0 0 2px #fc5353;
      }

      .error-msg {
        display: block;
      }
    }
  }

  button.btn-custom {
    border: none;
    font-size: $baseFontSize + 1.2;
    font-weight: 700;
    margin: 25px auto 0;
    padding: 20px 65px 21px;
    text-transform: uppercase;
  }

  @media (max-width: 543px) {
    .form {
      display: block;

      .form-group {
        width: 100%;
      }

      button.btn-custom {
        display: block;
        width: 100%;
      }
    }
  }
}