.plus-section {
  .plus-container {
    padding-top: 51px;

    .plus-item {
       width: 23.7%;

       h3 {
         color: #6b6e70;
         font-size: 20px;
         font-weight: 700;
         line-height: 24px;
         padding-bottom: 16px;
         text-align: center;
         text-transform: uppercase;

         span {
           display: block;
         }
       }

       p {
         font-weight: 400;
         padding: 0 15px 20px;
       }
    }
  }

  @media (max-width: 991px) {
    .plus-container {
      justify-content: space-around;
      -ms-flex-pack: distribute;

      .plus-item {
        padding-bottom: 11px;
        text-align: center;
        width: 48%;
      }
    }
  }

  @media (max-width: 543px) {
    .plus-container {
      padding-top: 52px;

      .plus-item {
        padding-bottom: 11px;
        text-align: left;
        width: 100%;

        h3 {
          font-size: $baseFontSize + 1;
          line-height: 18px;
          padding-bottom: 22px;
          padding-left: 75px;
          position: relative;
          text-align: left;

          span {
            display: inline;
          }
        }

        p {
          font-weight: 400;
          padding: 0 15px 20px 76px;
        }
      }
    }
  }
}
