.system-work-section {
  .section-cont {
    padding-bottom: 81px;
    padding-top: 91px;
  }

  .preface {
    font-weight: 400;
    max-width: 780px;
  }

  .work-container {
    background: url($bgDir + 'device.png') no-repeat 63% 100%;
    background-size: 56.4% auto;
    margin-bottom: 11px;
    margin-top: 56px;
    min-height: 834px;
    position: relative;

    .work-item {
      min-width: 240px;
      position: absolute;
      text-align: center;

      &:after {
        background-image: url($bgDir + 'big-arrows-sprite.png');
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        z-index: -1;
      }

      h3 {
        color: #75787a;
        font-size: 18px;
        font-weight: 300;
      }

      p {
        font-weight: 400;
      }

      &.equipment-item {
        bottom: 15.5%;
        left: 2%;
        max-width: 242px;

        &:after {
          background-position: 0 0;
          height: 71px;
          left: 46%;
          top: -33%;
          width: 21px;
        }
      }

      &.data-transfer-item {
        left: 8.8%;
        max-width: 249px;
        top: 16.1%;

        &:after {
          background-position: -25px 0;
          height: 88px;
          left: 77%;
          top: -36.5%;
          width: 146px;
        }
      }

      &.data-processing-item {
        left: 38.5%;
        max-width: 264px;
        top: -0.9%;

        &:after {
          background-position: -180px 0;
          height: 84px;
          left: 107%;
          top: 19%;
          width: 140px;
        }
      }

      &.generate-report-item {
        max-width: 270px;
        right: 10.1%;
        top: 16.1%;

        &:after {
          background-position: -340px 0;
          height: 74px;
          left: 86%;
          top: 107%;
          width: 20px;
        }
      }

      &.using-report-item {
        bottom: 19.9%;
        max-width: 260px;
        right: 1.3%;

        &:after {
          display: none;
        }
      }
    }
  }

  .faq-block {
    .faq-item {
      border: 1px solid $borderColor;
      box-sizing: border-box;
      margin-bottom: 19px;
      padding: 25px 29px;
      width: 49.15%;

      .question {
        color: #0188c9;
        font-size: $baseFontSize - 1;
        font-weight: 400;
        padding-bottom: 12px;
        text-transform: uppercase;
      }

      h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 24px;
        padding-bottom: 46px;
      }

      p {
        font-weight: 400;
      }
    }
  }

  @media(max-width: 991px) {
    .work-container {
      background-position: 20% center;
      background-size: 50%;
      min-height: auto;
      overflow: hidden;

      .work-item {
        max-width: 45%;
        min-height: 240px;
        padding-bottom: 50px;
        position: relative;

        &:after {
          background-image: url($bgDir + 'arrow.png');
          background-repeat: no-repeat;
          content: '';
          position: absolute;
          z-index: -1;
        }

        &.equipment-item {
          float: left;
          left: 0;
          max-width: 40%;
          top: 0;

          &:after {
            background-position: 0 0;
            height: 71px;
            left: auto;
            right: -35%;
            top: 35%;
            transform: rotate(-90deg);
            width: 21px;
          }
        }

        &.data-transfer-item {
          float: right;
          max-width: 40%;
          left: 0;
          top: 0;

          &:after {
            background-position: 0 0;
            bottom: 0;
            height: 71px;
            left: 48%;
            top: auto;
            width: 21px;
          }
        }

        &.data-processing-item {
          float: right;
          left: 0;
          max-width: 40%;
          padding-bottom: 80px;
          top: 0;

          &:after {
            background-position: 0 0;
            bottom: 0;
            height: 71px;
            left: 48%;
            top: auto;
            width: 21px;
          }
        }

        &.generate-report-item {
          clear: both;
          float: right;
          max-width: 40%;
          left: 0;
          top: 0;

          &:after {
            background-position: 0 0;
            height: 71px;
            left: -35%;
            top: 35%;
            transform: rotate(90deg);
            width: 21px;
          }
        }

        &.using-report-item {
          float: left;
          left: 0;
          max-width: 40%;
          top: 0;
        }
      }
    }
  }

  @media(max-width: 767px) {
    .section-cont {
      padding-bottom: 51px;
      padding-top: 64px;
    }

    h2 {
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 25px;

      &:before {
        top: -29px;
      }
    }

    .preface {
      max-width: 85%;
    }

    .work-container {
      background: url($bgDir + 'device-543.png') no-repeat;
      background-position: 50% 97.75%;
      margin-bottom: 11px;
      margin-top: 19px;
      padding-bottom: 239px;

      .work-item {
        left: 0;
        min-height: auto;
        min-width: none;
        position: relative;
        padding-bottom: 66px;
        top: 0;

        h3 {
          font-size: 18px;
          font-weight: 300;
          padding-bottom: 21px;
        }

        p {
          font-size: $baseFontSize;
          padding: 0 23px;
        }

        &.equipment-item {
          left: 0;
          max-width: none;

          &:after {
            bottom: 8px;
            height: 43px;
            left: 50%;
            margin-left: -8px;
            top: auto;
            transform: rotate(0);
            width: 17px;
          }
        }

        &.data-transfer-item {
          max-width: none;
          left: 0;

          &:after {
            bottom: 8px;
            height: 43px;
            left: 50%;
            margin-left: -8px;
            width: 17px;
          }
        }

        &.data-processing-item {
          left: 0;
          max-width: none;

          &:after {
            bottom: 8px;
            height: 43px;
            left: 50%;
            margin-left: -8px;
            top: auto;
            width: 17px;
          }
        }

        &.generate-report-item {
          left: 0;
          max-width: none;

          &:after {
            bottom: 8px;
            height: 43px;
            left: 50%;
            margin-left: -8px;
            top: auto;
            transform: rotate(0);
            width: 17px;
          }
        }

        &.using-report-item {
          max-width: none;
        }
      }
    }

    .faq-block {
      .faq-item {
        margin-bottom: 19px;
        padding: 24px 20px;
        width: 100%;

        .question {
          padding-bottom: 13px;
        }

        h3 {
          font-size: 18px;
          line-height: 18px;
          padding-bottom: 24px;
        }
      }
    }
  }
}