.teammate {
  @include smartphone {
    flex-direction: column;
  }

  &__job-title {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 28px;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include phablet {
      flex-direction: column;
    }
  }

  &__img {
    width: 50%;
    padding: 14px;
    text-align: center;

    @include phablet {
      width: 100%;
    }

    img {
      max-width: 100%;

      @include phablet {
        max-width: 70%;
      }
    }
  }

  &__description {
    width: 50%;
    min-height: 1px;
    padding: 14px;

    @include phablet {
      width: 100%;
    }
    
    p {
      line-height: 28px;
      margin-bottom: 28px;
      text-align: left;
    }
  }
}
