.team-container {
  padding-top: 3rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.content__publications {
  padding: 0 2px;

  p {
    font-weight: bold;
    text-align: center;
  }
}
