.team-preface {
  p {
    font-size: 1.25 * $baseFontSize;
    text-align: center;

    @include phablet {
      font-size: 1.125 * $baseFontSize;
    }
  }
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @include smartphone {
    flex-direction: column;
  }

  .teammate-sm {
    width: 33.333%;
    min-height: 590px;
    padding: 14px;

    @include phablet {
      width: 50%;
    }

    @include smartphone {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
    }

    &__job-title {
      text-align: center;
      font-size: 1.1rem;
    }
  }
}
