.team-preface {
  ul {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  @include mediumDevices {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @include smartphone {
    flex-direction: column;
  }

  .teammate-sm {
    width: 33.333%;
    min-height: 590px;
    padding: 14px;

    @include phablet {
      width: 50%;
    }

    @include smartphone {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
    }

    &__job-title {
      text-align: center;
      font-size: 1.1rem;
    }
  }
}
