.news__section {
  max-width: 100%;
  margin-top: 1em;
  border-bottom: 1px solid $baseColor;
  ul {
    list-style: none;
    a {
      font-style: italic;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.newsDate {
  text-decoration: underline;
  width: 125px;
  display: inline-block;

  @include phablet {
    width: 120px;
  }
}
