.news__section {
  max-width: 100%;
  margin-top: 1em;
  border-bottom: 1px solid $baseColor;
  ul {
    list-style: none;
    a {
      font-style: italic;
    }
  }
}

.newsDate {
  margin-right: 1em;
  text-decoration: underline;
}
